<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>

    <title>Portfolio</title>
</head>
<body>
   <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <img src="../author/box_images/Profile.png" alt="">
                    <div class="info">
                        <span class="text_1"><%=user.name%></span>
                        <span class="text_2"><%=user.profession%></span>
                    </div>
                    <div class="socials">
                        <div class="img_1">
                            <img src="../author/box_images/Facebook.svg" alt="">
                        </div>
                        <div class="img_1">
                            <img src="../author/box_images/Instagram.svg" alt="">  
                        </div>
                        <div class="img_1">
                            <img src="../author/box_images/Linkeding.svg" alt="">
                        </div>
                        <div class="img_1">
                            <img src="../author/box_images/Twitter.svg" alt="">
                        </div>
                        <div class="img_1">
                            <img src="../author/box_images/Youtube.svg" alt="">
                        </div>
                        <div class="img_1">
                            <img src="../author/box_images/Dribbble.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="marginer1"></div>
                <div class="left_2">
                    <div class="text1">
                        <span class="span1">Age:</span>
                        <span><%=user.age%></span>
                    </div>
                    <div class="text1">
                        <span class="span1">Residence:</span>
                        <span><%=user.residence%></span>
                    </div>
                    <div class="text1">
                        <span class="span1">Freelance:</span>
                        <span>Available</span>
                    </div>
                    <div class="text1">
                        <span class="span1">Address:</span>
                        <span><%=user.adress%></span>
                    </div>
                </div>
                <div class="marginer2"></div>
                <div class="left_3">
                    <div class="lang">
                        <span>Language</span>
                    </div>
                    <div class="lang1">
                        <span class="span1">Uzbek</span>
                        <span>100%</span>
                    </div>
                    <div class="lin1">
                        <div class="percentage"></div>
                    </div>
                    <div class="lang1">
                        <span class="span1">English</span>
                        <span>80%</span>
                    </div>
                    <div class="lin2">
                        <div class="percentage"></div>
                    </div>
                    <div class="lang1">
                        <span class="span1">Russian</span>
                        <span>60%</span>
                    </div>
                    <div class="lin3">
                        <div class="percentage"></div>
                    </div>
                </div>
                <div class="marginer3"></div>
                <div class="left_4">
                    <div class="txt">
                        <span>Skills</span>
                    </div>
                    <div class="txt1">
                        <span class="span1">HTML</span>
                        <span>90%</span>
                    </div>
                    <div class="lin1">
                        <div class="percentage"></div>
                    </div>
                    <div class="txt1">
                        <span class="span1">CSS</span>
                        <span>85%</span>
                    </div>
                    <div class="lin2">
                        <div class="percentage"></div>
                    </div>
                    <div class="txt1">
                        <span class="span1">JS</span>
                        <span>80%</span>
                    </div>
                    <div class="lin3">
                        <div class="percentage"></div>
                    </div>
                    <div class="txt1">
                        <span class="span1">PHP</span>
                        <span>75%</span>
                    </div>
                    <div class="lin4">
                        <div class="percentage"></div>
                    </div>
                    <div class="txt1">
                        <span class="span1">WordPress</span>
                        <span>85%</span>
                    </div>
                    <div class="lin5">
                        <div class="percentage"></div>
                    </div>
                </div>
                <div class="marginer3"></div> 
                <div class="left_5">
                    <div class="row">
                        <span>Extra Skills</span>
                    </div>
                    <div class="row1">
                        <div class="img">
                            <img src="../author/icon/Icons.svg" alt="">
                        </div>
                        <span>Bootstrap, Materialize</span>
                    </div>
                    <div class="row1">
                        <div class="img">
                            <img src="../author/icon/Icons.svg" alt="">
                        </div>
                        <span>Stylus, Sass, Less</span>
                    </div>
                    <div class="row1">
                        <div class="img">
                            <img src="../author/icon/Icons.svg" alt="">
                        </div>
                        <span>Gulp, Webpack, Grunt</span>
                    </div>
                    <div class="row1">
                        <div class="img">
                            <img src="../author/icon/Icons.svg" alt="">
                        </div>
                        <span>GIT Knowledge</span>
                    </div>
                </div>
                <div class="marginer5"></div>
            </div>
        <div class="middle_frame">
            <div class="above">
                <div class="part1">
                    <span>Doctor neurologists in OHSU Hospital </span>
                </div>
                <div class="part2">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</span>
                </div>
                <button>
                    <span>HIRE ME</span>
                    <div class="img"><img src="../author/icon/Vector (2).svg" alt=""></div>
                </button>
                <div class="image"> <img src="../author/box_images/Your Image 1.svg" alt=""></div>
                <div class="dot1"><img src="../author/box_images/Ellipse 15.svg" alt=""></div>
                <div class="dot2"><img src="../author/box_images/Ellipse 16.svg" alt=""></div>
                <div class="dot3"><img src="../author/box_images/Ellipse 15.svg" alt=""></div>
                <div class="dot4"><img src="../author/box_images/Rectangle 52.svg" alt=""></div>
                <div class="dot5"><img src="../author/box_images/Rectangle 51.svg" alt=""></div>
                <div class="dot6"><img src="../author/box_images/Polygon 1.svg" alt=""></div>
                <div class="dot7"><img src="../author/box_images/Ellipse 13.svg" alt=""></div>
            </div>
            <div class="below">
                <div class="below_1">
                    <strong>My Services</strong>
                    <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</span>
                </div>
                <div class="below_2">
                    <div class="box_1">
                        <div class="img"></div>
                        <strong>Web Development</strong>
                        <span>Blog, E-commerce</span>
                    </div>
                    <div class="box_1">
                        <div class="img"></div>
                        <strong>UI/UX Design</strong>
                        <span>Mobile App, Website Design</span>
                    </div>
                    <div class="box_1">
                        <div class="img"></div>                        
                        <strong>Sound Design</strong>
                        <span>Voice Over, Beat Making</span>
                    </div>
                    <div class="box_1">
                        <div class="img"></div>                        
                        <strong>Game Design</strong>
                        <span>Character Design, Props & Objects</span>
                    </div>
                    <div class="box_1">
                        <div class="img"></div>                        
                        <strong>Photography</strong>
                        <span>portrait, product photography</span>
                    </div>
                    <div class="box_1">                 
                        <strong>Advertising</strong>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </span>
                        <p>ORDER NOW ></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_frame">
            <div class="vector"></div>
            <div class="home">
                <div class="btn_1">
                    <div class="part_1">
                        <span>Home</span>
                    </div>                    
                    <div class="triangle"></div>
                </div>
                <div class="btn_2"></div>
                <div class="btn_3"></div>
                <div class="btn_4"></div>
                <div class="btn_5"></div>
                <div class="btn_6"></div>
                <div class="btn_7"></div>

            </div>
        </div>
        </div>
    </div>    
</body>
</html>